* {
  font-family: "Manrope", sans-serif;
  /* font-family: "Anton", sans-serif; */
}

:root {
  --yellow-color: rgba(255, 209, 91, 1); /* Définir la variable personnalisée */
}

body {
  background-color: lightgray;
  height: 100%;
  width: 100%;
}

/* section header */
.custom-header {
  background-image: url("./assets/img-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-bottom: 30px;
}

.header-img {
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.section-text-home h2 {
  color: rgba(255, 209, 91, 1);
  font-family: "Anton", sans-serif;
}

/* section cards */
.article-img {
  width: 100%;
  height: 253px;
  object-fit: cover;
  border-radius: 21px 21px 0px 0px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
}

.cards article {
  background-color: white;
  border-radius: 21px;
}

.recette-texte {
  font-size: 14px;
  font-weight: 500;
}

.container-element-recette {
  padding: 12px;
}

.container-recette p {
  font-family: "Manrope", sans-serif;
}

.titre-color {
  color: rgba(122, 122, 122, 1);
}

.container-ingredient p {
  font-family: "Manrope", sans-serif;
}
.liste-ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.liste-ingredients span {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
}

.span-ingredient {
  color: black;
  font-weight: 500;
}
.span-quantite-unite {
  color: rgba(122, 122, 122, 1);
}

/* filtre */
.dropdown-menu {
  max-height: 200px; /* Limiter la hauteur du menu déroulant */
  overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}

.dropdown-menu::-webkit-scrollbar {
  width: 0; /* Largeur de la barre de défilement */
}

/* Optionnel : cacher également le fond de la barre de défilement */
.dropdown-menu::-webkit-scrollbar-track {
  background-color: transparent; /* Couleur de fond */
}

.dropdown {
  width: 19.5%; /* Ajustez la largeur selon vos préférences */
}

/* input  */
.input-group-text {
  border: none; /* Supprime la bordure */
  background-color: transparent; /* Rend le fond transparent */
  color: black; /* Couleur par défaut du texte */
  padding: 5px;
}

/* Styles pour les icônes de recherche et de croix */
.bi-search {
  color: black; /* Couleur de l'icône de recherche */
}

.bi-x {
  color: black; /* Couleur de l'icône de croix */
}
.dropdown-input:focus {
  outline: none;
}
/* CSS pour le bouton et la liste déroulante */
.dropdown-button {
  margin-bottom: -5px;
}

.dropdown-menu {
  margin-top: -1px; /* Compenser la bordure supérieure du bouton */
  border-top-left-radius: 0; /* Supprimer le coin arrondi supérieur gauche */
  border-top-right-radius: 0; /* Supprimer le coin arrondi supérieur droit */
}

.dropdown-content {
  border: none; /* Supprimer la bordure supérieure de la liste déroulante */
}

.dropdown-input {
  border-bottom-left-radius: 0; /* Supprimer le coin arrondi inférieur gauche */
  border-bottom-right-radius: 0; /* Supprimer le coin arrondi inférieur droit */
}

.custom-list-item:hover {
  background-color: var(--yellow-color);
  cursor: pointer;
}

.custom-list-item {
  font-family: "Manrope", sans-serif;
}

.li-selected{
  
}

.mt-10 {
  margin-top: 100px;
}


.newFilter{

}